<configuration>
  <components>
    <component  id="EInvoice_LogService" service="Parse.Core.Services.IEInvoice_LogService, Parse.Core"  type="Parse.Core.ServiceImps.EInvoice_LogService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IINV1Service" service="Parse.Core.Services.IINV1Service, Parse.Core"  type="Parse.Core.ServiceImps.INV1Service, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IOINVService" service="Parse.Core.Services.IOINVService, Parse.Core"  type="Parse.Core.ServiceImps.OINVService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IOCRDService" service="Parse.Core.Services.IOCRDService, Parse.Core"  type="Parse.Core.ServiceImps.OCRDService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="ICRD1Service" service="Parse.Core.Services.ICRD1Service, Parse.Core"  type="Parse.Core.ServiceImps.CRD1Service, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>