<configuration>
  <components>
    <component  id="IHDDTService" service="Parse.Core.Services.IHDDTService, Parse.Core"  type="Parse.Core.ServiceImps.HDDTService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IHDDT_DetailService" service="Parse.Core.Services.IHDDT_DetailService, Parse.Core"  type="Parse.Core.ServiceImps.HDDT_DetailService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPXKService" service="Parse.Core.Services.IPXKService, Parse.Core"  type="Parse.Core.ServiceImps.PXKService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component  id="IPXK_DetailService" service="Parse.Core.Services.IPXK_DetailService, Parse.Core"  type="Parse.Core.ServiceImps.PXK_DetailService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    
  </components>
</configuration>