<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <appSettings>
    <add key="ServiceName" value="HerbalifeService"/>    <!-- Tên service -->
    <add key="WaitTime" value="3"/>    <!--Thời gian tính theo phút-->
  </appSettings>
</configuration>
