<configuration>
  <properties>
    <smtpHost>localhost</smtpHost>
    <smtpPort></smtpPort>
    <smtpUsername></smtpUsername>
    <smtpPassword></smtpPassword>
    <emailEncoding></emailEncoding>
    <tempDir></tempDir>
  </properties>

  <components>

    <!--Company service-->
    <component
      id="ICompanyService"
      service="Parse.Core.IService.ICompanyService, Parse.Core"
      type="Parse.Core.Implement.CompanyService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--InvoiceConvert service-->
    <!--<component
      id="IInvoiceConvertService"
      service="Parse.Core.IService.IInvoiceConvertService, Parse.Core"
      type="Parse.Core.Implement.InvoiceConvertService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>-->

    <!--InvoiceVAT service-->
    <component
      id="IInvoiceVATService"
      service="Parse.Core.IService.IInvoiceVATService, Parse.Core"
      type="Parse.Core.Implement.InvoiceVATService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--ProductInv service-->
    <component
      id="IProductInvService"
      service="Parse.Core.IService.IProductInvService, Parse.Core"
      type="Parse.Core.Implement.ProductInvService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--Setup service-->
    <component
      id="ISetupService"
      service="Parse.Core.IService.ISetupService, Parse.Core"
      type="Parse.Core.Implement.SetupService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--BussinessLog service-->
    <component
      id="IBussinessLogService"
      service="Parse.Core.IService.IBussinessLogService, Parse.Core"
      type="Parse.Core.Implement.BussinessLogService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--SapUpload service-->
    <component
      id="ISapUploadService"
      service="Parse.Core.IService.ISapUploadService, Parse.Core"
      type="Parse.Core.Implement.SapUploadService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--Config service-->
    <component
      id="IConfigService"
      service="Parse.Core.IService.IConfigService, Parse.Core"
      type="Parse.Core.Implement.ConfigService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <component
      id="ILogDetailService"
      service="Parse.Core.IService.ILogDetailService, Parse.Core"
      type="Parse.Core.Implement.LogDetailService, Parse.Core">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>

    <!--AEON-->
    <!--CSV parser service-->
    <component
        id="IAEONService"
        service="Parse.Core.IService.IAEONService, Parse.Core"
        type="Parse.AEON.AEONService, Parse.AEON">
      <parameters>
      </parameters>
    </component>

  </components>
</configuration>

